body {
  overflow: hidden;
  margin: 0;
}

#terminal {
  background-color: #000;
  color: #4cd711;
  font-family: monospace;
  padding: 1em;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.centered {
  margin: auto;
}

#input p{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 1;
}

#terminal input {
  background-color: transparent;
  font-size: 1em;
  color: #4cd711;
  font-family: monospace;
  border: none;
  outline: none;
  position: relative;
  display: inline-block;
  padding: none;
  padding-bottom: 5px;
}

#input {
  width: 100%;
  border-bottom: 1px solid #4cd711;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(40, end);
}

.flex-grow {
  flex-grow: 1;
}

.flex-between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

#main-terminal {
  border-bottom: 1px solid #4cd711;
}


#main-terminal ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 0;
}

#main-terminal li p {
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 12px;
}

#main-terminal li p::before {
  content: " ";
  margin-right: 0.5em;
}

#main-terminal li p.selected::before {
  content: ">";
  color: #4cd711;
  margin-right: 0.5em;
}

