body {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#terminal {
  background-color: #000;
  color: #4cd711;
  font-family: monospace;
  padding: 1em;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}


.flex {
  display: flex;
}

.centered {
  margin: auto;
}

#input p{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 1;
}

#terminal input {
  background-color: transparent;
  font-size: 1em;
  font-family: monospace;
  border: none;
  outline: none;
  position: relative;
  display: inline-block;
  padding: none;
  padding-bottom: 5px;
}

#input {
  margin-top: 1em;
  width: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.column {
  flex-direction: column;
}

#terminal-nav {
  border-bottom: 1px solid #4cd711;
  height: auto;
  flex-shrink: 0;
}

#terminal-nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  margin: 0;
}

#terminal-nav li p {
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 12px;
}

#terminal-nav li p::before {
  content: " ";
  margin-right: 0.5em;
}

#terminal-nav li p.selected::before {
  content: ">";
  color: #4cd711;
  margin-right: 0.5em;
}

.white {
  color: #ffffff;
}

#terminal-output {
  overflow-y: auto;
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#terminal-output::-webkit-scrollbar {
  display: none;
}